.viewport_container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #2a2736;
	border: 4px dashed #3b3b49;
}
.viewport_container::before {
	content: "Viewport not initialized";
	font-size: 2rem;
	color: #3b3b49;
}

.viewport_container > .viewport {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}